docs/xsd/nbdc/bioproject/Core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Project" type="typeProject">
    </xs:element>
    <xs:complexType name="typeProject"><xs:sequence>
                <xs:element name="ProjectID" minOccurs="1" maxOccurs="1" nillable="false">
                    <xs:annotation>
                        <xs:documentation>
                        List of all project ids: submitter asigned, archive assigned, ....
                    </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:annotation>
                                <xs:documentation>
                                At least one of ArchiveID, CenterID or LocalID should present. 
                            </xs:documentation>
                            </xs:annotation>
                            <xs:element name="ArchiveID" minOccurs="0" nillable="false"
                                type="typeArchiveID">
                                <xs:annotation>
                                    <xs:documentation> 
                                        Unique project identifier across all archives.
                                        Contains host archive name, unique NCBI database ID (assigned only by NCBI DB staff) and unique accession (see accession description). 
                                        Element is optional since it will be created on submission. However it is required in the DB.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="SecondaryArchiveID" minOccurs="0" maxOccurs="unbounded" nillable="false"
                                type="typeArchiveID">
                                <xs:annotation>
                                    <xs:documentation> 
                                        List of all project identifiers which were replaced by this record across. Similarly to Genbank secondary accession it is a cumulative field. .
                                        Contains host archive name and accession (see accession description). 
                                        Element is optional.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="CenterID" type="typeCenterID" minOccurs="0"
                                maxOccurs="unbounded" nillable="false">
                                <xs:annotation>
                                    <xs:documentation> 
                                    List of center-specific internal tracking IDs for the project.
                                </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="LocalID" type="typeLocalID" minOccurs="0"
                                maxOccurs="unbounded" nillable="false"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ProjectDescr" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            Common description of a project : title, publication, etc...
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Name" type="xs:string" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>
                                    Very short descriptive name of the project  for caption, labels, etc.  For example:  1000 Genomes Project
                                </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Title" type="xs:string">
                                <xs:annotation>
                                    <xs:documentation>
                                    Short, but informative title of the projects, single phrase, single line. For example: 
                                    Sequencing the southern Chinese HAN population from the 1000 Genomes Project.
                                </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Description" type="xs:string" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Informative paragraph</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="ExternalLink" maxOccurs="unbounded" minOccurs="0"
                                type="typeExternalLink">
                                <xs:annotation>
                                    <xs:documentation>
                                        Link to external resources (as an URL) or to external databases (DB name, ID). 
                                        This is not a project-to-project relation.  
                                        May be an URL to any external web resource or link to specified by name database. 
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Grant" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>
                                    Funding information for a project. 
                                </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Title" type="xs:string" minOccurs="0"
                                            maxOccurs="1"/>
                                        <xs:element name="Agency">
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                  <xs:attribute name="abbr" type="xs:string"/>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="GrantId" type="xs:string" use="required"/>
                                </xs:complexType>
                            </xs:element>
                            <xs:element type="typePublication" name="Publication" minOccurs="0"
                                maxOccurs="unbounded"> </xs:element>
                            <xs:element name="ProjectReleaseDate" type="typeDateOrTime" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Date of public release.</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Keyword" type="xs:string" maxOccurs="unbounded"
                                minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Intended to be used in support of queries</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="Relevance" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>Major impact categories for the project.</xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Agricultural" minOccurs="0"
                                            type="xs:string"> </xs:element>
                                        <xs:element name="Medical" minOccurs="0" type="xs:string"> </xs:element>
                                        <xs:element minOccurs="0" name="Industrial" type="xs:string">
                                            <xs:annotation>
                                                <xs:documentation>Could include bio-remediation, bio-fuels and other areas of research where there are areas of
                                            mass production</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element minOccurs="0" name="Environmental"
                                            type="xs:string"> </xs:element>
                                        <xs:element name="Evolution" minOccurs="0" type="xs:string"> </xs:element>
                                        <xs:element name="ModelOrganism" minOccurs="0"
                                            type="xs:string"> </xs:element>
                                        <xs:element name="Other" minOccurs="0" type="xs:string">
                                            <xs:annotation>
                                                <xs:documentation>Unspecified major impact categories to be defined here.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="LocusTagPrefix" minOccurs="0" maxOccurs="unbounded"
                                type="typeLocusTagPrefix"> </xs:element>
                            <xs:element name="UserTerm" maxOccurs="unbounded" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>
                                        Attribute represents a key ; element text() represents a value
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:string">
                                            <xs:attribute name="term" type="xs:string"
                                                use="required">
                                                <xs:annotation>
                                                  <xs:documentation>
                                                        Attribute represents a term
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:attribute>
                                            <xs:attribute name="category" type="xs:string"
                                                use="optional">
                                                <xs:annotation>
                                                  <xs:documentation>
                                                        Category to group the terms
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:attribute>
                                            <xs:attribute name="units" type="xs:string"
                                                use="optional">
                                                <xs:annotation>
                                                  <xs:documentation>
                                                        Units - when value represent a measurement
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:attribute>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="RefSeq" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>
                                        If element with "RefSeq" tag present, the project is a refseq project.  To be created by NCBI only.
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="AnnotationSource" type="typeRefSeqSource">
                                            <xs:annotation>
                                                <xs:documentation>The source of the annotation.  For example, propogated from INSDC, RefSeq curation, etc.</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="SequenceSource" minOccurs="0"
                                            type="typeRefSeqSource">
                                            <xs:annotation>
                                                <xs:documentation>Used sequence source</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="NomenclatureSource" minOccurs="0"
                                            type="typeRefSeqSource">
                                            <xs:annotation>
                                                <xs:documentation>External authority (if one exists)</xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="typeRepresentation" name="representation"
                                        use="optional"> </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="ProjectType" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                           Project type specific fields. Created as "choice" - for future expansion.
                       </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:choice>
                            <xs:element name="ProjectTypeTopSingleOrganism">
                                <xs:annotation>
                                    <xs:documentation>
                                An administrative project with the following attributes:
                                a.	Unique tax_id is required.  This will generally be at the single species-level, but could be at sub-species or a level higher than species.  For example, with Canis lupus, dog is a sub-species of gray wolf.
                                b.	Only one top single project for a tax_id
                                c.	Only created by archive database collaborators (NCBI/EBI/DDBJ)
                                d.	Top-single includes a description of the organism 
                                e.	It may include structured descriptors; for instance, information about habitat, chromosomes (how many, what are they named), genome size etc. These descriptors are extendable.
                                f.	May have 1 to many submitter-level project types attached
                                g.	Attached projects likely are not related by collaboration or funding (e.g. independent groups A, B, and C generate independent marker maps or transcriptome projects etc.)
                            </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="typeOrganism" name="Organism">
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ProjectTypeTopAdmin">
                                <xs:annotation>
                                    <xs:documentation>
                                An administrative project with the following attributes:
                                a.	Tax_id is optional; may be a species- or higher-level tax_id (e.g., ‘primates’)
                                b.	Primarily created by archive database collaborators (NCBI/EBI/DDBJ)
                                c.	Submitters can request creation
                                d.	May reflect a large multi-disciplinary project initiated by a funding agency 
                                e.	Or, Arbitrary grouping; e.g. all sequences (from a grant) submitted by different process flows; any grouping that does not cleanly fit into the first two classes.
                                f.	May have subtypes, e.g. a controlled vocabulary of descriptors including:
                                            i.	Comparative genomics
                                            ii.	Disease
                                            iii.	Metagenome
                            </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="Organism" type="typeOrganism"
                                        minOccurs="0" maxOccurs="1"/>
                                        <xs:element name="DescriptionSubtypeOther" type="xs:string"
                                            minOccurs="0" maxOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    If subtype eOther is chosen, explain details here
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="subtype" use="required">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:token">
                                                <xs:enumeration value="eDisease"> </xs:enumeration>
                                                <xs:enumeration value="eComparativeGenomics"> </xs:enumeration>
                                                <xs:enumeration value="eMetagenome"> </xs:enumeration>
                                                <xs:enumeration value="eSingleOrganismDiscovery"> </xs:enumeration>
                                                <xs:enumeration value="eFundingInitiative"> </xs:enumeration>
                                                <xs:enumeration value="eAuthorizedAccess"></xs:enumeration>
                                                <xs:enumeration value="eAccounting"></xs:enumeration>
                                                <xs:enumeration value="eOther"> 
                                                    <xs:annotation>
                                                        <xs:documentation>Please,  fill Description element when choose "eOther"</xs:documentation>
                                                    </xs:annotation>
                                                </xs:enumeration>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="ProjectTypeSubmission">
                                <xs:annotation>
                                    <xs:documentation>
                                       A submitter level project based on actual experiment whose intent is to produce and submit data to one or more archives.                                         
                                   </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:choice>
                                        <xs:element name="Target" minOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation>
                                                   Target of the experiment. See @target_type for possible choices
                                               </xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element type="typeOrganism" name="Organism"
                                                  minOccurs="0"/>
                                                  <xs:element maxOccurs="1" name="Provider"
                                                  type="xs:string" minOccurs="0">
                                                  <xs:annotation>
                                                  <xs:documentation>
                                                               Source of biomaterial used as target for this data project
                                                           </xs:documentation>
                                                  </xs:annotation>
                                                  </xs:element>
                                                  <xs:element maxOccurs="1" name="Description"
                                                  type="xs:string" minOccurs="0">
                                                  <xs:annotation>
                                                  <xs:documentation>
                                                               Optionally provide description especially when "eOther" is selected
                                                           </xs:documentation>
                                                  </xs:annotation>
                                                  </xs:element>
                                                    <xs:element name="BioSampleSet" minOccurs="0" maxOccurs="1"><xs:annotation><xs:documentation>Identifier of the BioSample when known</xs:documentation>
                                                    </xs:annotation>
                                                        <xs:complexType><xs:sequence><xs:element name="ID" maxOccurs="unbounded">
                                                            <xs:complexType>
                                                                
                                                                
                                                                <xs:simpleContent><xs:extension base="xs:string"><xs:attribute name="local_id" type="xs:string"></xs:attribute>
                                                                    <xs:attribute name="user_id" type="xs:string"></xs:attribute>
                                                                    <xs:attribute name="db" type="xs:string"></xs:attribute>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                            </xs:complexType>
                                                        </xs:element>
                                                    </xs:sequence>
                                                    </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="sample_scope" use="required">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            The scope and purity of the biological sample used for the study
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:simpleType>
                                                  <xs:restriction base="xs:token">
                                                  <xs:enumeration value="eMonoisolate">
                                                  <xs:annotation>
                                                  <xs:documentation>Samples are traceable to one or more isolated organisms/subjects/individuals</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  <xs:enumeration value="eMultiisolate">
                                                  <xs:annotation>
                                                  <xs:documentation>Samples are taken from the same species but multiple individuals/organisms with the goal of accessing variability among individuals</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  <xs:enumeration value="eMultispecies">
                                                  <xs:annotation>
                                                  <xs:documentation>Sample is taken from multiple species</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  <xs:enumeration value="eEnvironment">
                                                  <xs:annotation>
                                                  <xs:documentation>Content of species in a sample is not known, i.e. microbiome,metagenome, etc..</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  <xs:enumeration value="eSynthetic">
                                                  <xs:annotation>
                                                  <xs:documentation>Synthetic material</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                      <xs:enumeration value="eSingleCell"></xs:enumeration>
                                                      <xs:enumeration value="eOther">
                                                  <xs:annotation>
                                                  <xs:documentation>Please,  fill Description element when choose "eOther"</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="material" use="required">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            The type of material that is isolated from the sample for the experimental study
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:simpleType>
                                                  <xs:restriction base="xs:token">
                                                  <xs:enumeration value="eGenome">
                                                  <xs:annotation>
                                                  <xs:documentation>DNA material</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  <xs:enumeration value="ePartialGenome">
                                                  <xs:annotation>
                                                  <xs:documentation>Incompleted DNA material from (separate chromosome, etc...)</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  <xs:enumeration value="eTranscriptome">
                                                  <xs:annotation>
                                                  <xs:documentation>RNA material</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  <xs:enumeration value="eReagent">
                                                  <xs:annotation>
                                                  <xs:documentation>Material obtained by precipitation, specific chemical reaction, etc....</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  <xs:enumeration value="eProteome">
                                                  <xs:annotation>
                                                  <xs:documentation>Protein material</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  <xs:enumeration value="ePhenotype">
                                                  <xs:annotation>
                                                  <xs:documentation>Phenotypes are collected</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  <xs:enumeration value="eOther">
                                                  <xs:annotation>
                                                  <xs:documentation>Please,  fill Description element when choose "eOther"</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                </xs:attribute>
                                                <xs:attribute name="capture" use="required">
                                                    <xs:annotation>
                                                        <xs:documentation>
                                                            The scope of results that the experimental study is capturing, e.g. the focus of the study
                                                        </xs:documentation>
                                                    </xs:annotation>
                                                    <xs:simpleType>
                                                  <xs:restriction base="xs:token">
                                                  <xs:enumeration value="eWhole">
                                                  <xs:annotation>
                                                      <xs:documentation>The project makes use of the whole sample material, e.g. the sample or method does not result in capturing a pre-defined class of data</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  <xs:enumeration value="eCloneEnds">
                                                  <xs:annotation>
                                                  <xs:documentation>Capture by bacterial cloning</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  <xs:enumeration value="eExome">
                                                  <xs:annotation>
                                                  <xs:documentation>Exome capture</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  <xs:enumeration value="eTargetedLocusLoci">
                                                  <xs:annotation>
                                                  <xs:documentation>specific loci are captured</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                      <xs:enumeration value="eRandomSurvey"><xs:annotation><xs:documentation>The project is defined as a random partial survey of the sample material.  For instance, a genome scan rather than a whole genome sequence approach</xs:documentation>
                                                      </xs:annotation>
                                                      </xs:enumeration>
                                                      <xs:enumeration value="eOther">
                                                  <xs:annotation>
                                                  <xs:documentation>Please,  fill Description element when choose "eOther"</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                </xs:attribute>
                                            </xs:complexType>
                                        </xs:element>
                                         <xs:element name="TargetBioSampleSet">
  <xs:annotation><xs:documentation>Set of Targets references to BioSamples</xs:documentation></xs:annotation>
                                             <xs:complexType>
                                                 <xs:sequence>
<xs:element name="ID" type="xs:token" minOccurs="1" maxOccurs="unbounded"></xs:element>                                                 
                                                 </xs:sequence>
                                             </xs:complexType>
                                         </xs:element>                        
                                        </xs:choice>
                                        <xs:element name="Method" minOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    The core experimental approach used to obtain the data that is submitted to archival databases
                                               </xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                  <xs:attribute name="method_type" use="required">
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:token">
                                                  <xs:enumeration value="eSequencing">
                                                  <xs:annotation>
                                                  <xs:documentation>Sequencing using Sanger, 454, Illumina, etc with</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  <xs:enumeration value="eArray">
                                                  <xs:annotation>
                                                  <xs:documentation>Sequence is determined by hybridization arrays</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  
                                                      <xs:enumeration value="eMassSpectrometry">
                                                          
                                                      </xs:enumeration>
                                                      <xs:enumeration value="eOther">
                                                  <xs:annotation>
                                                  <xs:documentation>Please,  provide method description  in the body of the element</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  </xs:attribute>
                                                  </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>

                                        </xs:element>
                                        <xs:element name="Objectives" minOccurs="1">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    The type of data that results from the experimental study; e.g., the type of data that will be submitted to archival databases
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                  <xs:element name="Data" maxOccurs="unbounded"
                                                  minOccurs="1">
                                                  <xs:complexType>
                                                  <xs:simpleContent>
                                                  <xs:extension base="xs:string">
                                                  <xs:attribute name="data_type">
                                                  <xs:simpleType>
                                                  <xs:restriction base="xs:token">
                                                  <xs:enumeration value="eRawSequenceReads">
                                                  <xs:annotation>
                                                  <xs:documentation>Submission of raw sequencing information as it comes out of machine</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                      <xs:enumeration value="eSequence">
                                                          <xs:annotation>
                                                              <xs:documentation>Sequence which is not raw - meaning processed (clipped, matepaired, oriented)</xs:documentation>
                                                          </xs:annotation>
                                                      </xs:enumeration>
                                                      <xs:enumeration value="eAnalysis"><xs:annotation><xs:documentation>Higher level interpretation of the data</xs:documentation>
                                                      </xs:annotation>
                                                      </xs:enumeration>
                                                      <xs:enumeration value="eAssembly">
                                                  <xs:annotation>
                                                  <xs:documentation>Experiment will result in assemblies (genome or transcriptome)</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  <xs:enumeration value="eAnnotation">
                                                  <xs:annotation>
                                                  <xs:documentation>Experiment wil result in Annotation</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  <xs:enumeration value="eVariation">
                                                  <xs:annotation>
                                                  <xs:documentation>Submission of variations</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  <xs:enumeration value="eEpigeneticMarkers">
                                                  <xs:annotation>
                                                  <xs:documentation>Experiment will result in Epigenetic markers</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  <xs:enumeration value="eExpression">
                                                  <xs:annotation>
                                                  <xs:documentation>Experiment will result in submission to Peptidome</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  <xs:enumeration value="eMaps">
                                                  <xs:annotation>
                                                  <xs:documentation>Experiment will result in cytogenetic, physical, Rh, etc.. maps</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  <xs:enumeration value="ePhenotype">
                                                  <xs:annotation>
                                                  <xs:documentation>Experiment will deliver phenotypes</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                      <xs:enumeration value="eOther">
                                                  <xs:annotation>
                                                  <xs:documentation>Please,  provide data description  in the body of the element</xs:documentation>
                                                  </xs:annotation>
                                                  </xs:enumeration>
                                                  </xs:restriction>
                                                  </xs:simpleType>
                                                  </xs:attribute>
                                                  </xs:extension>
                                                  </xs:simpleContent>
                                                  </xs:complexType>
                                                  </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>


                                        </xs:element>
                                        <xs:element name="IntendedDataTypeSet" minOccurs="0">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    Types of data intended to be submitted for the project.    
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element maxOccurs="unbounded" minOccurs="1" name="DataType">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:token">
                                                                <xs:enumeration value="genome sequencing"> </xs:enumeration>
                                                                <xs:enumeration value="raw sequence reads"> </xs:enumeration>
                                                                <xs:enumeration value="genome sequencing and assembly"> </xs:enumeration>
                                                                <xs:enumeration value="metagenome"> </xs:enumeration>
                                                                <xs:enumeration value="metagenomic assembly"> </xs:enumeration>
                                                                <xs:enumeration value="assembly"> </xs:enumeration>
                                                                <xs:enumeration value="transcriptome"> </xs:enumeration>
                                                                <xs:enumeration value="proteomic"> </xs:enumeration>
                                                                <xs:enumeration value="map"> </xs:enumeration>
                                                                <xs:enumeration value="clone ends"> </xs:enumeration>
                                                                <xs:enumeration value="targeted loci"> </xs:enumeration>
                                                                <xs:enumeration value="targeted loci cultured"> </xs:enumeration>
                                                                <xs:enumeration value="targeted loci environmental"> </xs:enumeration>
                                                                <xs:enumeration value="random survey"> </xs:enumeration>
                                                                <xs:enumeration value="exome"> </xs:enumeration>
                                                                <xs:enumeration value="variation"> </xs:enumeration>
                                                                <xs:enumeration value="epigenomics"> </xs:enumeration>
                                                                <xs:enumeration value="phenotype or genotype"> </xs:enumeration>
                                                                <xs:enumeration value="other"> </xs:enumeration>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="ProjectDataTypeSet" minOccurs="0"><xs:annotation><xs:documentation>Data type based on actual data information. Ignored at submission time.</xs:documentation>
                                        </xs:annotation>
                                            <xs:complexType><xs:sequence><xs:element name="DataType" maxOccurs="unbounded" type="xs:token"></xs:element>
                                        </xs:sequence>
                                        </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
    </xs:complexType>
    <xs:complexType name="typeRefSeqSource">
        <xs:sequence>
            <xs:element name="Name" type="xs:string"> </xs:element>
            <xs:element name="Url" type="xs:anyURI" minOccurs="0"> </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="typePublication">
        <xs:sequence>
            <xs:element name="Reference" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Free form citation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StructuredCitation" minOccurs="0"><xs:complexType>
                <xs:sequence>
                    <xs:element name="Title" type="xs:string">
                    </xs:element>
                    <xs:element name="Journal"><xs:complexType>
                        <xs:sequence><xs:element name="JournalTitle" type="xs:string"><xs:annotation><xs:documentation>Journal title in ISO-JTO format</xs:documentation>
                        </xs:annotation>
                        </xs:element>
                            <xs:element name="Year" minOccurs="0" type="xs:string"></xs:element>
                            <xs:element name="Volume" minOccurs="0" type="xs:string"></xs:element>
                            <xs:element name="Issue" minOccurs="0" type="xs:string"></xs:element>
                            <xs:element name="PagesFrom" minOccurs="0" type="xs:string"></xs:element>
                            <xs:element name="PagesTo" minOccurs="0" type="xs:string"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                    </xs:element>
                    <xs:element name="AuthorSet">
                        <xs:complexType>
                            <xs:sequence maxOccurs="1">
                                <xs:element maxOccurs="unbounded" name="Author"><xs:complexType><xs:sequence><xs:element name="Name" minOccurs="0">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="First" minOccurs="0" type="xs:string"></xs:element>
                                            <xs:element name="Last"  minOccurs="1" type="xs:string"></xs:element>
                                            <xs:element name="Middle" minOccurs="0" type="xs:string"></xs:element>
                                            <xs:element name="Suffix" minOccurs="0" type="xs:string"></xs:element>
                                        </xs:sequence>
                                    </xs:complexType>
                                    
                                    
                                </xs:element>
                                    <xs:element name="Consortium" type="xs:string" minOccurs="0"></xs:element>
                                </xs:sequence>
                                </xs:complexType>
                                </xs:element>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>    
                </xs:sequence>
            </xs:complexType>
            </xs:element>
            <xs:element name="DbType">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="ePMC"> </xs:enumeration>
                        <xs:enumeration value="ePubmed"> </xs:enumeration>
                        <xs:enumeration value="eDOI"> </xs:enumeration>
                        <xs:enumeration value="eNotAvailable"><xs:annotation><xs:documentation>Use for Unpublished, in press or other databases</xs:documentation>
                        </xs:annotation>
                        </xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="id" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Unique publication identifier in the specified database that is specific to the project.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="date" type="typeDateOrTime">
            <xs:annotation>
                <xs:documentation>Publication date.</xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="status">
            <xs:simpleType>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="ePublished"></xs:enumeration>
                    <xs:enumeration value="eUnpublished"></xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="typeExternalLink">
        <xs:choice>
            <xs:element name="URL" type="xs:anyURI"/>
            <xs:element name="dbXREF">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ID" type="xs:string" minOccurs="1" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>
                                    Unique identifier in the specified database.  
                                </xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                    <xs:attribute name="db" type="xs:string">
                        <xs:annotation>
                            <xs:documentation>The external database to which the ID is referring.</xs:documentation>
                        </xs:annotation>
                    </xs:attribute>
                </xs:complexType>
            </xs:element>
        </xs:choice>
        <xs:attribute name="label" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Text which shown on the project presentation page for this link.
                    
                  
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="category" use="optional" type="xs:string"> </xs:attribute>
    </xs:complexType>
    <xs:complexType name="typeOrganism">
        <xs:sequence maxOccurs="1">
            <xs:element name="OrganismName" type="xs:string"> </xs:element>
            <xs:element name="Label" minOccurs="0" maxOccurs="1" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Used in situations to distinguish a project that is not a strain, breed or cultivar.  For example,
                        this could be a common library name or a known sample name, such as Coco the gorilla.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Strain" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A strain, breed or cultivar.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IsolateName" minOccurs="0" type="xs:string"></xs:element>
            <xs:element name="Breed" minOccurs="0" type="xs:string"></xs:element>
            <xs:element name="Cultivar" minOccurs="0" type="xs:string"></xs:element>
            <xs:element name="Supergroup" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="eEukaryotes"> </xs:enumeration>
                        <xs:enumeration value="eArchaea"> </xs:enumeration>
                        <xs:enumeration value="eBacteria"> </xs:enumeration>
                        <xs:enumeration value="eViruses"> </xs:enumeration>
                        <xs:enumeration value="eViroids"></xs:enumeration>
                        <xs:enumeration value="eOther"> </xs:enumeration>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="BiologicalProperties" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        New items: Organism, Morphology, Environment, Phenotype, Relevance
                    </xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Morphology" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Physical attributes of the organism</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Gram" minOccurs="0">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:token">
                                                <xs:enumeration value="eNegative"> </xs:enumeration>
                                                <xs:enumeration value="ePositive"> </xs:enumeration>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element minOccurs="0" name="Enveloped">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:token">
                                                <xs:enumeration value="eNo"> </xs:enumeration>
                                                <xs:enumeration value="eYes"> </xs:enumeration>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="Shape" minOccurs="0" maxOccurs="unbounded">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:token">
                                                <xs:enumeration value="eBacilli">
                                                  <xs:annotation>
                                                  <xs:documentation>
                                                rod-shaped
                                            </xs:documentation>
                                                  </xs:annotation>
                                                </xs:enumeration>
                                                <xs:enumeration value="eCocci">
                                                  <xs:annotation>
                                                  <xs:documentation>
                                                spherical-shaped
                                            </xs:documentation>
                                                  </xs:annotation>
                                                </xs:enumeration>
                                                <xs:enumeration value="eSpirilla">
                                                  <xs:annotation>
                                                  <xs:documentation>
                                                spiral-shaped
                                            </xs:documentation>
                                                  </xs:annotation>
                                                </xs:enumeration>
                                                <xs:enumeration value="eCoccobacilli">
                                                  <xs:annotation>
                                                  <xs:documentation>
                                                elongated coccal form
                                            </xs:documentation>
                                                  </xs:annotation>
                                                </xs:enumeration>
                                                <xs:enumeration value="eFilamentous">
                                                  <xs:annotation>
                                                  <xs:documentation>
                                                filament-shaped (bacilli thar occur  in long threads)
                                            </xs:documentation>
                                                  </xs:annotation>
                                                </xs:enumeration>
                                                <xs:enumeration value="eVibrios">
                                                  <xs:annotation>
                                                  <xs:documentation>
                                                vibrio-shaped (short, slightly curved rods)
                                            </xs:documentation>
                                                  </xs:annotation>
                                                </xs:enumeration>
                                                <xs:enumeration value="eFusobacteria">
                                                  <xs:annotation>
                                                  <xs:documentation>
                                                fusiform or spindle-shaped (rods with tapered ends)
                                            </xs:documentation>
                                                  </xs:annotation>
                                                </xs:enumeration>
                                                <xs:enumeration value="eSquareShaped"/>
                                                <xs:enumeration value="eCurvedShaped"/>
                                                <xs:enumeration value="eTailed"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="Endospores" minOccurs="0">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:token">
                                                <xs:enumeration value="eNo"/>
                                                <xs:enumeration value="eYes"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element minOccurs="0" name="Motility">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:token">
                                                <xs:enumeration value="eNo"/>
                                                <xs:enumeration value="eYes"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="BiologicalSample" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="CultureSample" minOccurs="0">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:token">
                                                <xs:enumeration value="ePureCulture"/>
                                                <xs:enumeration value="eMixedCulture"/>
                                                <xs:enumeration value="eUncultered"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="CellSample" minOccurs="0">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:token">
                                                <xs:enumeration value="eIsolated"> </xs:enumeration>
                                                <xs:enumeration value="eNonisolated">
                                                </xs:enumeration>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="TissueSample" minOccurs="0" type="xs:string">
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Environment" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Salinity" minOccurs="0">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:token">
                                                <xs:enumeration value="eUnknown"/>
                                                <xs:enumeration value="eNonHalophilic"/>
                                                <xs:enumeration value="eMesophilic"/>
                                                <xs:enumeration value="eModerateHalophilic"/>
                                                <xs:enumeration value="eExtremeHalophilic"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="OxygenReq" minOccurs="0">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:token">
                                                <xs:enumeration value="eUnknown"/>
                                                <xs:enumeration value="eAerobic"/>
                                                <xs:enumeration value="eMicroaerophilic"/>
                                                <xs:enumeration value="eFacultative"/>
                                                <xs:enumeration value="eAnaerobic"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element type="xs:string" name="OptimumTemperature"
                                        minOccurs="0"> </xs:element>
                                    <xs:element name="TemperatureRange" minOccurs="0">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:token">
                                                <xs:enumeration value="eUnknown"/>
                                                <xs:enumeration value="eCryophilic"/>
                                                <xs:enumeration value="ePsychrophilic"/>
                                                <xs:enumeration value="eMesophilic"/>
                                                <xs:enumeration value="eThermophilic"/>
                                                <xs:enumeration value="eHyperthermophilic"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="Habitat" minOccurs="0">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:token">
                                                <xs:enumeration value="eUnknown"/>
                                                <xs:enumeration value="eHostAssociated"/>
                                                <xs:enumeration value="eAquatic"/>
                                                <xs:enumeration value="eTerrestrial"/>
                                                <xs:enumeration value="eSpecialized"/>
                                                <xs:enumeration value="eMultiple"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Phenotype" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="BioticRelationship" minOccurs="0"
                                        maxOccurs="1">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:token">
                                                <xs:enumeration value="eFreeLiving"/>
                                                <xs:enumeration value="eCommensal"/>
                                                <xs:enumeration value="eSymbiont"/>
                                                <xs:enumeration value="eEpisymbiont"/>
                                                <xs:enumeration value="eIntracellular"/>
                                                <xs:enumeration value="eParasite"/>
                                                <xs:enumeration value="eHost"/>
                                                <xs:enumeration value="eEndosymbiont"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element name="TrophicLevel" minOccurs="0">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:token">
                                                <xs:enumeration value="eAutotroph"/>
                                                <xs:enumeration value="eHeterotroph"/>
                                                <xs:enumeration value="eMixotroph"/>
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:element type="xs:string" name="Disease" minOccurs="0">
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Organization" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="eUnicellular"/>
                        <xs:enumeration value="eMulticellular"/>
                        <xs:enumeration value="eColonial"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="Reproduction" minOccurs="0">
                <xs:simpleType>
                    <xs:restriction base="xs:token">
                        <xs:enumeration value="eSexual"/>
                        <xs:enumeration value="eAsexual"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="RepliconSet" minOccurs="0">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Replicon" minOccurs="0" maxOccurs="unbounded"
                            type="typeReplicon"> </xs:element>
                        <xs:element name="Ploidy" minOccurs="0">
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:string">
                                        <xs:attribute name="type" use="required">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:token">
                                                  <xs:enumeration value="eHaploid"/>
                                                  <xs:enumeration value="eDiploid"/>
                                                  <xs:enumeration value="ePolyploid"/>
                                                  <xs:enumeration value="eAllopolyploid"/>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:attribute>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="Count" minOccurs="0" maxOccurs="unbounded">
                            <xs:annotation>
                                <xs:documentation>
                                    Number ot chromosomes for the project or organism per replicon type
                                </xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                                <xs:simpleContent>
                                    <xs:extension base="xs:positiveInteger">
                                        <xs:attribute name="repliconType"
                                            type="typeRepliconMolType" use="required">
                                        </xs:attribute>
                                    </xs:extension>
                                </xs:simpleContent>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GenomeSize" minOccurs="0" type="typeGSize"/>
        </xs:sequence>
        <xs:attribute name="taxID" type="xs:int" use="optional"> </xs:attribute>
        <xs:attribute name="species" type="xs:int"> </xs:attribute>
    </xs:complexType>
    <xs:simpleType name="typeRepresentation">
        <xs:restriction base="xs:token">
            <xs:enumeration value="eReference"/>
            <xs:enumeration value="eAlternate"/>
            <xs:enumeration value="eOther"> </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="typeDecimalPositive">
        <xs:restriction base="xs:decimal">
            <xs:minInclusive value="0"> </xs:minInclusive>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="typeGSize">
        <xs:simpleContent>
            <xs:extension base="typeDecimalPositive">
                <xs:attribute name="units">
                    <xs:simpleType>
                        <xs:restriction base="xs:token">
                            <xs:enumeration value="Mb"> </xs:enumeration>
                            <xs:enumeration value="Kb"> </xs:enumeration>
                            <xs:enumeration value="cM">
                                <xs:annotation>
                                    <xs:documentation>CentiMorgan</xs:documentation>
                                </xs:annotation>
                            </xs:enumeration>
                            <xs:enumeration value="arb"><xs:annotation><xs:documentation>Arbitrary measurements</xs:documentation>
                            </xs:annotation>
                            </xs:enumeration>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="typeArchive">
        <xs:restriction base="xs:token">
            <xs:enumeration value="NCBI"/>
            <xs:enumeration value="EBI"/>
            <xs:enumeration value="DDBJ"> </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="typeArchiveID">
        <xs:attribute name="archive" use="required" type="typeArchive">
            <xs:annotation>
                <xs:documentation> 
                    Host archive: NCBI, EMBL, DDBJ, .....
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="id" type="xs:integer" use="optional">
            <xs:annotation>
                <xs:documentation> 
                    Host archive integer id (projectID for NCBI), optional. May be assigned only by NCBI. Should be omitted when created by other archive and reassigned later by NCBI.
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
        <xs:attribute name="accession" use="required" type="xs:string">
            <xs:annotation>
                <xs:documentation>
                    Required unique accession. For NCBI: PRJNA12345, for EMBL: PRJEA12345, for DDBJ: PRJDA12345, where 12345 is an archive-unique internal number
                </xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:complexType name="typeCenterID">
        <xs:annotation>
            <xs:documentation> 
                    Center-specific project IDs, assumed to be unique for a center. 
                </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute name="center" type="xs:string" use="required">
                    <xs:annotation>
                        <xs:documentation> 
                                Center internal abbreviation for the project. 
                            </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute name="id" type="xs:integer" use="optional">
                    <xs:annotation>
                        <xs:documentation> 
                                Can have an integer synonym if needed.
                            </xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="typeLocalID">
        <xs:annotation>
            <xs:documentation>Alternative internal IDs that may be optionally provided within a submission stream.
                For example, there may be a localID from the Center and a different localID from the submitting DAC.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string"> <xs:attribute type="xs:string" name="submission_id"></xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="typeRepliconMolType">
        <xs:restriction base="xs:token">
            <xs:enumeration value="eChromosome"/>
            <xs:enumeration value="ePlasmid"/>
            <xs:enumeration value="eLinkageGroup"/>
            <xs:enumeration value="eSegment"/>
            <xs:enumeration value="eExtrachrom"></xs:enumeration>
            <xs:enumeration value="eOther"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="typeRepliconType">
        <xs:simpleContent>
            <xs:extension base="typeRepliconMolType">
                <xs:annotation>
                    <xs:documentation>
                        Replicon type is a text inside of element. Location and isSingle are attributes.
                    </xs:documentation>
                </xs:annotation>
                <xs:attribute name="location" use="required">
                    <xs:simpleType>
                        <xs:restriction base="xs:token">
                            <xs:enumeration value="eNuclearProkaryote"/>
                            <xs:enumeration value="eMacronuclear"/>
                            <xs:enumeration value="eNucleomorph"/>
                            <xs:enumeration value="eMitochondrion"/>
                            <xs:enumeration value="eKinetoplast"/>
                            <xs:enumeration value="eChloroplast"/>
                            <xs:enumeration value="eChromoplast"/>
                            <xs:enumeration value="ePlastid"/>
                            <xs:enumeration value="eVirionPhage"/>
                            <xs:enumeration value="eProviralProphage"/>
                            <xs:enumeration value="eViroid"/>
                            <xs:enumeration value="eCyanelle"/>
                            <xs:enumeration value="eApicoplast"/>
                            <xs:enumeration value="eLeucoplast"/>
                            <xs:enumeration value="eProplastid"/>
                            <xs:enumeration value="eHydrogenosome"/>
                            <xs:enumeration value="eChromatophore"/>
                            <xs:enumeration value="eOther"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:attribute>
                <xs:attribute name="isSingle" type="xs:boolean" use="optional"> </xs:attribute>
                <xs:attribute name="typeOtherDescr" type="xs:string" use="optional"> </xs:attribute>
                <xs:attribute name="locationOtherDescr" type="xs:string" use="optional">
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="typeReplicon">
        <xs:sequence>
            <xs:element name="Type" type="typeRepliconType"> </xs:element>
            <xs:element name="Name" type="xs:string"> </xs:element>
            <xs:element name="Size" minOccurs="0" type="typeGSize"> </xs:element>
            <xs:element name="Description" minOccurs="0" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Explanation of an unusual chromosome features</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Synonym" minOccurs="0" maxOccurs="unbounded" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Optionally: List all accepted synonyms for this chromosome</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
        <xs:attribute name="order" type="xs:token" use="optional">
            <xs:annotation>
                <xs:documentation>Chromosome number for organisms whith established numbering system :1,2,3,X,Y</xs:documentation>
            </xs:annotation>
        </xs:attribute>
    </xs:complexType>
    <xs:simpleType name="typeLocusTagPrefixText"><xs:restriction base="xs:string">
        <xs:minLength value="1">
            <xs:annotation><xs:documentation>Old historical prefixes may be one- or two-character long. Verification to be provided at API level</xs:documentation></xs:annotation>
        </xs:minLength>
        <xs:maxLength value="12"/>
    </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="typeLocusTagPrefix">
        <xs:simpleContent>
            <xs:extension base="typeLocusTagPrefixText"><xs:attribute name="biosample_id" type="xs:token"></xs:attribute>
                <xs:attribute name="assembly_id" type="xs:token"></xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="typeDateOrTime">
        <xs:union><xs:simpleType><xs:restriction base="xs:date"></xs:restriction>
        </xs:simpleType>
            <xs:simpleType><xs:restriction base="xs:dateTime"></xs:restriction>
            </xs:simpleType>
        </xs:union>
    </xs:simpleType>
</xs:schema>
